In [1]:
import pandas as pd 
import numpy as np

In [5]:
df = pd.read_csv("D:/Documents/GitHub/ml-pipeline/data/TPS-MAR2021/train.csv")
df.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,A,I,A,B,B,BI,A,S,Q,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,1,A,I,A,A,E,BI,K,W,AD,...,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,2,A,K,A,A,E,BI,A,E,BM,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,3,A,K,A,C,E,BI,A,Y,AD,...,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,4,A,I,G,B,E,BI,C,G,Q,...,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1

In [7]:
df.drop(["id", "target"], axis=1).columns

Index(['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15', 'cat16',
       'cat17', 'cat18', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5',
       'cont6', 'cont7', 'cont8', 'cont9', 'cont10'],
      dtype='object')

In [3]:
df.target.value_counts()

0    220539
1     79461
Name: target, dtype: int64

Skewed variable

In [6]:
def facto(n):
    result = 1
    if n == 0:
        return result
    else:
        for i in range(1, n + 1):
            result = result * i
        return result

In [7]:
facto(5)

120

In [6]:
df.columns[1:31]

Index(['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9', 'cat10', 'cat11', 'cat12', 'cat13', 'cat14', 'cat15', 'cat16',
       'cat17', 'cat18', 'cont0', 'cont1', 'cont2', 'cont3', 'cont4', 'cont5',
       'cont6', 'cont7', 'cont8', 'cont9', 'cont10'],
      dtype='object')

In [3]:
df.describe()

,id,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,250183.425697,0.504749,0.494073,0.516632,0.474235,0.504848,0.502257,0.488229,0.501739,0.488074,0.469496,0.508230,0.264870
std,144320.334812,0.206788,0.213037,0.214851,0.216636,0.227474,0.241243,0.211335,0.203496,0.179048,0.194516,0.203393,0.441265
min,0.000000,-0.049562,0.084480,0.094493,-0.045316,0.168071,-0.036379,0.005199,0.090901,0.024139,0.214866,0.097789,0.000000
25%,125399.750000,0.344985,0.317363,0.326047,0.292249,0.279303,0.276442,0.323914,0.353054,0.358915,0.309934,0.368312,0.000000
50%,250192.500000,0.479650,0.463170,0.471247,0.387564,0.479858,0.554768,0.518089,0.435404,0.410908,0.407477,0.446576,0.000000
75%,375246.250000,0.637657,0.693992,0.704625,0.644950,0.725779,0.735225,0.608537,0.642023,0.612725,0.586793,0.581957,1.000000
max,499999.000000,1.004559,1.009958,1.016600,0.952187,0.858578,0.853022,0.966553,1.035818,1.055885,1.005652,1.011331,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 32 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      300000 non-null  int64
 1   cat0    300000 non-null  object
 2   cat1    300000 non-null  object
 3   cat2    300000 non-null  object
 4   cat3    300000 non-null  object
 5   cat4    300000 non-null  object
 6   cat5    300000 non-null  object
 7   cat6    300000 non-null  object
 8   cat7    300000 non-null  object
 9   cat8    300000 non-null  object
 10  cat9    300000 non-null  object
 11  cat10   300000 non-null  object
 12  cat11   300000 non-null  object
 13  cat12   300000 non-null  object
 14  cat13   300000 non-null  object
 15  cat14   300000 non-null  object
 16  cat15   300000 non-null  object
 17  cat16   300000 non-null  object
 18  cat17   300000 non-null  object
 19  cat18   300000 non-null  object
 20  cont0   300000 non-null  float64
 21  cont1   300000 non-null  float64
 22  cont2   300000 non-null  float64
 23  cont3   300000 non-null  float64
 24  cont4   300000 non-null  float64
 25  cont5   300000 non-null  float64
 26  cont6   300000 non-null  float64
 27  cont7   300000 non-null  float64
 28  cont8   300000 non-null  float64
 29  cont9   300000 non-null  float64
 30  cont10  300000 non-null  float64
 31  target  300000 non-null  int64
dtypes: float64(11), int64(2), object(19)
memory usage: 73.2+ MB

In [10]:
columns = df.columns[1:20]

In [12]:
for col in columns:
    print(f"{col} : {df[col].unique()}")

cat0 : ['A' 'B']
cat1 : ['I' 'K' 'A' 'F' 'L' 'N' 'J' 'M' 'O' 'B' 'H' 'G' 'C' 'D' 'E']
cat2 : ['A' 'G' 'C' 'O' 'D' 'F' 'Q' 'J' 'L' 'I' 'M' 'H' 'U' 'N' 'R' 'E' 'K' 'S'
 'B']
cat3 : ['B' 'A' 'C' 'D' 'G' 'N' 'H' 'F' 'E' 'K' 'I' 'J' 'L']
cat4 : ['B' 'E' 'H' 'I' 'D' 'F' 'G' 'M' 'K' 'J' 'T' 'C' 'L' 'P' 'S' 'O' 'N' 'Q'
 'A' 'R']
cat5 : ['BI' 'AB' 'BU' 'M' 'T' 'K' 'L' 'CG' 'BG' 'CI' 'N' 'G' 'X' 'Q' 'O' 'BO'
 'BB' 'BX' 'AF' 'BA' 'BQ' 'CA' 'D' 'AQ' 'AS' 'AW' 'BE' 'CK' 'AL' 'BK' 'AT'
 'CL' 'C' 'CF' 'I' 'AH' 'CD' 'AY' 'BY' 'F' 'AI' 'R' 'BC' 'BH' 'AA' 'V'
 'CE' 'BD' 'AE' 'U' 'AU' 'AP' 'CJ' 'AN' 'AX' 'AR' 'BL' 'J' 'ZZ' 'BR' 'BV'
 'H' 'A' 'CC' 'P' 'CH' 'BJ' 'CB' 'BS' 'BN' 'AO' 'AJ' 'BT' 'S' 'E' 'Y' 'AK'
 'AM' 'B' 'BM' 'AV' 'AG' 'BF' 'BP']
cat6 : ['A' 'K' 'C' 'I' 'G' 'E' 'M' 'F' 'O' 'D' 'Q' 'S' 'B' 'Y' 'U' 'W']
cat7 : ['S' 'W' 'E' 'Y' 'G' 'AV' 'AF' 'AK' 'AH' 'AN' 'J' 'H' 'U' 'AG' 'AS' 'AA'
 'B' 'F' 'AI' 'K' 'AD' 'D' 'N' 'I' 'AW' 'AY' 'AX' 'L' 'AL' 'C' 'R' 'P'
 'AU' 'O' 'AR' 'AO' 'AE' 'AP' 'A' 'V' 'Q' 'AQ' 'X' 'BA' 'AM' 'AC' 'M' 'AT'
 'T' 'AB' 'AJ']
cat8 : ['Q' 'AD' 'BM' 'Y' 'AG' 'AE' 'AX' 'H' 'BD' 'AO' 'X' 'L' 'M' 'AT' 'BH' 'J'
 'AU' 'AF' 'S' 'BO' 'N' 'AN' 'BC' 'AS' 'K' 'AW' 'I' 'BJ' 'F' 'A' 'AJ' 'AK'
 'BL' 'AL' 'AY' 'BN' 'AM' 'AV' 'U' 'BI' 'BK' 'AP' 'P' 'E' 'BG' 'O' 'C'
 'AI' 'BB' 'G' 'AH' 'BA' 'V' 'B' 'BF' 'BE' 'AQ' 'AC' 'AB' 'AR' 'T']
cat9 : ['A' 'F' 'L' 'C' 'E' 'I' 'J' 'N' 'V' 'R' 'D' 'X' 'B' 'Q' 'W' 'G' 'O' 'U'
 'S']
cat10 : ['LO' 'HJ' 'DJ' 'KV' 'DP' 'GE' 'HQ' 'HC' 'EK' 'GS' 'HG' 'BY' 'HX' 'JK'
 'FJ' 'LM' 'HK' 'MD' 'IG' 'JG' 'AN' 'AD' 'MC' 'KW' 'CK' 'LF' 'CS' 'GK'
 'DC' 'LB' 'FM' 'IH' 'LN' 'IK' 'DF' 'IB' 'CB' 'LY' 'JW' 'FI' 'CR' 'IE'
 'LE' 'HB' 'HV' 'LG' 'BG' 'KP' 'LI' 'HL' 'BF' 'LU' 'O' 'GI' 'DQ' 'IR' 'DV'
 'HA' 'KB' 'FP' 'AT' 'IF' 'HN' 'GC' 'C' 'KC' 'G' 'JA' 'CU' 'BC' 'AB' 'KF'
 'MB' 'HE' 'BL' 'FQ' 'IA' 'MJ' 'FO' 'V' 'JT' 'AU' 'IO' 'GQ' 'CC' 'JR' 'BM'
 'HH' 'AV' 'GT' 'I' 'IU' 'JN' 'EV' 'MV' 'EQ' 'LW' 'FN' 'IT' 'AA' 'DK' 'IJ'
 'GU' 'P' 'JH' 'CM' 'GA' 'R' 'LX' 'IX' 'DY' 'D' 'FL' 'CP' 'GL' 'DI' 'CD'
 'IV' 'FS' 'FR' 'J' 'MP' 'MH' 'EL' 'JD' 'AP' 'AE' 'F' 'LC' 'BP' 'BI' 'MF'
 'DO' 'MG' 'MT' 'LD' 'CW' 'KS' 'BV' 'JV' 'BB' 'AM' 'KX' 'FK' 'AH' 'LV' 'W'
 'DU' 'FB' 'JX' 'KA' 'CO' 'AR' 'KR' 'JI' 'T' 'JP' 'LQ' 'FX' 'FD' 'EY' 'Y'
 'JO' 'EC' 'HM' 'AC' 'DW' 'HU' 'FH' 'AY' 'AL' 'GD' 'GB' 'DS' 'FT' 'KH'
 'CG' 'JB' 'E' 'CN' 'BT' 'X' 'BX' 'HW' 'EI' 'ID' 'KT' 'GR' 'L' 'KG' 'EA'
 'HO' 'GX' 'K' 'AS' 'DM' 'AK' 'FC' 'MS' 'HR' 'EU' 'ES' 'JY' 'HP' 'KL' 'FE'
 'CY' 'EO' 'KJ' 'CJ' 'CI' 'JL' 'IC' 'S' 'DH' 'GN' 'BS' 'AG' 'M' 'EW' 'FA'
 'LJ' 'GJ' 'KQ' 'HF' 'MR' 'BQ' 'ED' 'FG' 'LL' 'EG' 'HY' 'EH' 'GW' 'BD'
 'IQ' 'Q' 'DA' 'DD' 'GM' 'KN' 'MQ' 'GY' 'KD' 'JJ' 'CL' 'IY' 'KU' 'CT' 'KK'
 'DN' 'BO' 'IP' 'LH' 'IM' 'DE' 'ME' 'EE' 'LT' 'LR' 'MI' 'CF' 'DR' 'EB'
 'KI' 'DX' 'DL' 'MW' 'FF' 'EF' 'EP' 'MU' 'MA' 'GG' 'CQ' 'DT' 'FV' 'CH'
 'AF' 'AJ' 'IN' 'JC' 'EN' 'JU' 'JE' 'ML' 'AW' 'HI' 'MO' 'GF' 'MK' 'GH'
 'FW' 'GV' 'JF' 'BA' 'LK' 'IL' 'CX']
cat11 : ['A' 'B']
cat12 : ['A' 'B']
cat13 : ['A' 'B']
cat14 : ['A' 'B']
cat15 : ['B' 'D' 'A' 'C']
cat16 : ['D' 'B' 'C' 'A']
cat17 : ['D' 'C' 'B' 'A']
cat18 : ['B' 'C' 'D' 'A']